<div class="row d-g-flex align-items-center"
    style="background-image: url('https://s1.1zoom.me/big0/712/Dogs_Cats_White_background_Two_Bulldog_Kittens_560471_1280x800.jpg'); min-height: 800px; object-fit: fill;  background-repeat: no-repeat, ">
    <div class="col-md-8"></div>
    <div class="col-md-4 text-center">
        <h2>ENCUENTRA TU ALMA GEMELA</h2>
        <h5>PATITAS ADOPCION</h5>
        <div>
            <a class="btn btn-outline-success rounded-pill" [routerLink]="['/mascotas']">ADOPCIONES</a>
        </div>
    </div>
</div>

<div class="row justify-content-around m-auto pt-5 ">
    <div class="col-md-5">
        <h4>
            Bienvenidos a la familia de adopciones
        </h4>
        <p class="text-md-start">
            <br> Aquí en fundadcion paptitas, creemos que cada mascota merece un hogar lleno de amor. Nos dedicamos a
            conectar a
            adorables mascotas con personas como tú, dispuestas a brindarles una segunda oportunidad. Explora nuestras
            historias y conoce a nuestros peludos amigos que están listos para convertirse en parte de tu vida.
        </p>
    </div>
    <div class="col-md-5">
        <h4>¿Por qué adoptar?</h4>
        <p>
            Adoptar no solo cambia la vida de una mascota, sino también la tuya. Al adoptar, estás salvando a un animal
            de una vida incierta, proporcionándole un hogar lleno de cariño y, al mismo tiempo, ganando un fiel
            compañero que te traerá alegría y compañía todos los días. ¡Descubre el poder de la adopción y encuentra a
            tu mejor amigo!
        </p>
    </div>
</div>