<div class="container">

  <div class="row-g">
    <h2 class="py-2 text-center">
      Hola!, es un gusto que te motives a adoptar con nosotros.
    </h2>
  </div>
    <div class="row">
      <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" #solicitudForm="ngForm">
          <fieldset class="form-group">
            <div class="col-sm-12">
              <label class="control-label" for="mascota">Mascota en la que estoy interesado</label>
              <select class="form-control" required [(ngModel)]="solicitud.mascotas_id" name="mascotas_id">
                <option *ngFor="let mascota of mascotas | async" value="{{mascota.id}}">{{mascota.nombre}}, {{mascota.raza}}</option>
              </select>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="col-sm-12">
              <label class="control-label" for="adoptantes">adoptante ¿Quien soy?</label>
              <select class="form-control" required [(ngModel)]="solicitud.adoptantes_id" name="adoptantes_id">
                <option *ngFor="let adoptante of adoptantes | async" value="{{adoptante.id}}">{{adoptante.nombre}}</option>
              </select>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="col-sm-12">
              <label class="control-label" for="estado">Estado de solicitud</label>
              <select class="form-control" required  [(ngModel)]="solicitud.estado" name="estado">
                <option value="Pendiente" selected>Pendiente</option>
                <option value="Aprobada">Aprobada</option>
                <option value="Rechazada">Rechazada</option>
              </select>
            </div>
          </fieldset>   
          <br>       
          <fieldset class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary" [disabled]="!solicitudForm.form.valid">Enviar</button>
            </div>
          </fieldset>
          
        </form>
      </div>
    </div>
  </div>